
src/IR/minivm
src/IR/output.tigger
src/IR/entry.h.gch
src/IR/entry.o
src/IR/ir.h.gch
src/IR/ir.o
src/IR/regs.h.gch
src/IR/regs.o
src/IR/stack.h.gch
src/IR/stack.o
src/IR/tigger
src/IR/utils.h.gch
src/IR/utils.o
src/IR/vars.h.gch
src/IR/vars.o
src/IR/*.eeyore
src/IR/*.tigger
src/IR/*.out
src/IR/*.in
src/IR/99_register_realloc.sy
src/frontend/parser.tab.cpp
src/frontend/parser.tab.hpp
src/frontend/lex.yy.c
src/frontend/frontend
src/frontend/tokens.cpp
